{% extends "base_generic.html" %}

{% block note_list_block %}

      {% if notes %}
        {% for note in notes %}
          <form action="{% url 'update-note' note.pk %}">
            <button type="submit" class="tablinks" value="{{ note.title }}" />{{ note.title }}
          </form>
    
        {% endfor %}
      {% else %}
         <p>No notes</p>
      {% endif %}
{% endblock %}

{% block note_view_block %}

  <form action="" method="post" id="update_form">
        {% csrf_token %}
        {{ form.title }}
        {{ form.content }}        
        <input class="option_button" type="submit" name="Save" value="Save" />
        <input class="option_button" type="submit" name="Delete" value="Delete" />
  </form>
  
  <!--
  <textarea id="titlebox">{{ note.title }}</textarea>
  <textarea id="textbox">{{ note.content }}</textarea>
  <button class=option_button id="saveNote" >Save</button>
  <button class=option_button id="deleteNote" >Delete</button>
  -->
  
{% endblock %}

{% block bottom_row %}
    <div class="col-md-4">
          <form action="{% url 'note_create' %}">
            <button type="submit" class="new_button" value="New" />New</button>
          </form>
        </div>

    <div class="col-md-4">
          <p><strong>Date created: </strong>{{ note.date_created }} </p>
          <!--<p><strong>Tags:</strong> {% for tag in note.tag.all %} {{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}</p> -->
    </div>
    
    <div class="col-md-4" id="option_buttons_div">
      
      
    </div>
 
{% endblock %}